# Explore Dataset

In [1]:
import pandas as pd

path = "/kaggle/input/housing-price-dataset-v2/Housing_v2.csv"
df = pd.read_csv(path)

In [2]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,NaN,1.0,2.0,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,NaN,1.0,2.0,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3.0,NaN,1.0,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4.0,3.0,NaN,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5.0,3.0,2.0,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4.0,1.0,2.0,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3.0,2.0,4.0,yes,yes,no,no,yes,1,yes,unfurnished

In [4]:
df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2.0,1.0,1.0,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3.0,1.0,1.0,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2.0,1.0,1.0,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3.0,1.0,1.0,no,no,no,no,no,0,no,furnished
544,1750000,3850,3.0,1.0,2.0,yes,no,no,no,no,0,no,unfurnished

In [5]:
df.shape

(545, 13)

In [6]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,544.000000,544.000000,544.000000,545.000000
mean,4.766729e+06,5150.541284,2.963235,1.283088,1.801471,0.693578
std,1.870440e+06,2170.141023,0.737405,0.497516,0.863159,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [7]:
df = df.drop(columns='prefarea')

In [8]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3,furnished
4,11410000,7420,NaN,1.0,2.0,yes,yes,yes,no,yes,2,furnished

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          544 non-null    float64
 3   bathrooms         544 non-null    float64
 4   stories           544 non-null    float64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  furnishingstatus  545 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 51.2+ KB

# Data Preprocessing

In [10]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
price               0
area                0
bedrooms            1
bathrooms           1
stories             1
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
furnishingstatus    0
dtype: int64

In [11]:
print("Any missing values in dataset:", df.isnull().values.any())

Any missing values in dataset: True

In [12]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

## Common Ways to Handle Missing/Dupliate Values
* Option 1: Remove Rows
* Option 2: Fill with Mean / Median (Numerical Data)
* Option 3: Fill with Mode (Categorical Data)
* Option 4: Fill with a Constant Value

In [ ]:
# Option 1
# df_clean = df.dropna()

# Option 2
# df['column_name'].fillna(df['column_name'].mean(), inplace=True)
# df['column_name'].fillna(df['column_name'].median(), inplace=True)

# Option 3
# df['column_name'].fillna(df['column_name'].mode()[0], inplace=True)

# Option 4
# df['column_name'].fillna("Unknown", inplace=True)

In [13]:
df['bedrooms'].head(10)

0    4.0
1    4.0
2    3.0
3    4.0
4    NaN
5    3.0
6    4.0
7    5.0
8    4.0
9    3.0
Name: bedrooms, dtype: float64

In [14]:
df['bedrooms'].fillna(df['bedrooms'].mean(), inplace=True)

/tmp/ipykernel_55/1066051529.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(df['bedrooms'].mean(), inplace=True)

In [15]:
df['bedrooms'].head(10)

0    4.000000
1    4.000000
2    3.000000
3    4.000000
4    2.963235
5    3.000000
6    4.000000
7    5.000000
8    4.000000
9    3.000000
Name: bedrooms, dtype: float64

In [16]:
df['bathrooms'].head(10)

0    2.0
1    4.0
2    2.0
3    2.0
4    1.0
5    NaN
6    3.0
7    3.0
8    1.0
9    2.0
Name: bathrooms, dtype: float64

In [17]:
df['bathrooms'].fillna(10, inplace=True)

/tmp/ipykernel_55/2836448148.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathrooms'].fillna(10, inplace=True)

In [19]:
df['bathrooms'].head(10)

0     2.0
1     4.0
2     2.0
3     2.0
4     1.0
5    10.0
6     3.0
7     3.0
8     1.0
9     2.0
Name: bathrooms, dtype: float64

In [18]:
df['stories'].fillna(df['stories'].median(), inplace=True)

/tmp/ipykernel_55/2556505321.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['stories'].fillna(df['stories'].median(), inplace=True)

## Find the Categorical and Numerical Columns

In [21]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4.000000,2.0,3.0,yes,no,no,no,yes,2,furnished
1,12250000,8960,4.000000,4.0,4.0,yes,no,no,no,yes,3,furnished
2,12250000,9960,3.000000,2.0,2.0,yes,no,yes,no,no,2,semi-furnished
3,12215000,7500,4.000000,2.0,2.0,yes,no,yes,no,yes,3,furnished
4,11410000,7420,2.963235,1.0,2.0,yes,yes,yes,no,yes,2,furnished

In [20]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
print("Numerical Columns:")
print(list(numerical_cols))

categorical_cols = df.select_dtypes(include=['object']).columns
print("\nCategorical Columns:")
print(list(categorical_cols))

Numerical Columns:
['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking']

Categorical Columns:
['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'furnishingstatus']

## Data Normalization
We scale (normalize) the data to ensure that all numerical features are on the same scale, typically between 0 and 1. This is important because many machine learning algorithms are sensitive to the magnitude of values; features with larger ranges can dominate those with smaller ranges and negatively affect model performance. Normalization helps improve training stability, speeds up convergence, and often leads to better and more reliable model results.

In [23]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,1.000000,0.396564,0.600000,0.111111,0.666667,yes,no,no,no,yes,0.666667,furnished
1,0.909091,0.502405,0.600000,0.333333,1.000000,yes,no,no,no,yes,1.000000,furnished
2,0.909091,0.571134,0.400000,0.111111,0.333333,yes,no,yes,no,no,0.666667,semi-furnished
3,0.906061,0.402062,0.600000,0.111111,0.333333,yes,no,yes,no,yes,1.000000,furnished
4,0.836364,0.396564,0.392647,0.000000,0.333333,yes,yes,yes,no,yes,0.666667,furnished

## Find Unique Values in Categorical Columns

In [24]:
categorical_cols = df.select_dtypes(include=['object']).columns
print("\nUnique values in categorical columns:")

for col in categorical_cols:
    unique_values = df[col].unique()
    print(f"\n{col}: {len(unique_values)} unique values")
    print(unique_values)

Unique values in categorical columns:

mainroad: 2 unique values
['yes' 'no']

guestroom: 2 unique values
['no' 'yes']

basement: 2 unique values
['no' 'yes']

hotwaterheating: 2 unique values
['no' 'yes']

airconditioning: 2 unique values
['yes' 'no']

furnishingstatus: 3 unique values
['furnished' 'semi-furnished' 'unfurnished']

## Label Encoding

In [25]:
from sklearn.preprocessing import LabelEncoder

df_label_encoded = df.copy()
le = LabelEncoder()

for col in df_label_encoded.select_dtypes(include=['object']).columns:
    df_label_encoded[col] = le.fit_transform(df_label_encoded[col])

df_label_encoded.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,1.000000,0.396564,0.600000,0.111111,0.666667,1,0,0,0,1,0.666667,0
1,0.909091,0.502405,0.600000,0.333333,1.000000,1,0,0,0,1,1.000000,0
2,0.909091,0.571134,0.400000,0.111111,0.333333,1,0,1,0,0,0.666667,1
3,0.906061,0.402062,0.600000,0.111111,0.333333,1,0,1,0,1,1.000000,0
4,0.836364,0.396564,0.392647,0.000000,0.333333,1,1,1,0,1,0.666667,0

## One-Hot Encoding

In [26]:
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False).astype(int)
df_encoded.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,basement_no,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,1,1,0,0
1,0,0,0,0,1,1,0,1,1,0,1,0,1,0,0,1,1,0,0
2,0,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,1,0
3,0,0,0,0,0,1,0,1,1,0,0,1,1,0,0,1,1,0,0
4,0,0,0,0,0,0,0,1,0,1,0,1,1,0,0,1,1,0,0